<div class="container m-5">
    <div class="row">
        <div class="col-md-6">
            <div class="">
                <div class="bg-info text-white p-2" *ngIf="selectedProduct">
                    Selected Product: {{ selectedProduct.name || '(None)' }}
                </div>
                <table class="table table-sm table-bordered">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>image</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr 
                            *ngFor="let product of products" 
                           
                            [class.bg-info]="getSelected(product)"
                        >
                            <td>{{product.id}}</td>
                            <td>{{product.image}}</td>
                            <td>{{product.name}}</td>
                            <td>{{product.price}}</td>
                            <td><button class="btn btn-danger btn-sm">Delete</button>
                                <button (click)="editProduct(product)" class="btn btn-primary btn-sm ml-2">Edit</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6" *ngIf="selectedProduct">
            <div class="form-group">
                <label>Product Name</label>
                <input [(ngModel)]="selectedProduct.name"  type="text" class="form-control">
            </div>

            <div class="form-group">
                <label>Product Price</label>
                <input [(ngModel)]="selectedProduct.price"  type="number" class="form-control">
            </div>

            <div class="form-group">
                <label>Product ImageUrl</label>
                <input  [(ngModel)]="selectedProduct.imageUrl"  type="text" class="form-control">
            </div>

            <div class="form-group">
                <label>Product Description</label>
                <input [(ngModel)]="selectedProduct.description"  type="text" class="form-control">
            </div>

            <button class="btn btn-primary" (click)="saveChanges()">Save Changes</button>

        </div>
    </div>
</div>








